.card-home{
    margin: 2vh 0;
    border-radius: 28px;
    background-color: #fff;
    box-shadow: 0 0 10px #666;
    cursor: pointer;
    overflow: hidden;
}

.card-content{
    padding: 30px;
}

.card-writer{
    display: flex;
}

.card-writer .link{
    font-weight: 500;
    color: #3ade7b;
    text-decoration: underline;
}

.card-writer .link:hover{
    text-decoration: none;
    color: #3ade7b;
}

.card-writer *{
    margin-right: 5px;
}

.card-writer img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 100%;
}

.card-title{
    padding: 20px 0;
}
.card-title span {
    font-size: xx-large;
    font-weight: bold;
}

.card-tags *{
    margin-right: 1rem;
}

.card-info{
    color: #838383;
}

.card-info span{
    margin-left: 5px;
}

.card-icon{
    /* border-radius: 0 28px 28px 0; */
    background-color: #3ade7b;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.card-icon i{
    font-size: 2rem ;
    padding: 15px;
}