<div class="card card-home">
    <div class="card-header">
        <div>
            <span class="nm-autor">Lucas Teixeira</span> •
            <span class="nm-autor">My Workspace</span>
        </div>
        <span class="titulo-anotacao">Anotação sobre python</span>        
    </div>

    <div class="card-content">
        <p class="content-text">
            Python é uma linguagem de programação multiplataforma que permite desenvolver aplicações para games, desktops, web e dispositivos móveis. Além disso, ela pode se comunicar com outras aplicações que foram desenvolvidas em outras linguagens como C, C++, Java e C#.
        </p>
        
        <div class="card-tags">
            <app-tag></app-tag>
            <app-tag></app-tag>
            <app-tag></app-tag>
        </div>
    </div>
    
</div>

<div class="card-infos">
    <div class="info-item">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <span>12345</span>
    </div>
    
    <div class="info-item">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <span>133</span>
    </div>
    
    <div class="info-item">
        <i class="fa fa-share" aria-hidden="true"></i>
        <span>133</span>
    </div>
</div>
