<div class="card-home row">
    <div class="card-content col-md-11">
        <div class="card-writer">
            <img src="../../../assets/img/profile-pics/default.jpg" alt="" [routerLink]="['/profile']">
            <div class="username link" [routerLink]="['/profile']">Lucas Menezes Teixeira</div><span>•</span><div class="workspace link">Estrutura de dados</div>
        </div>
        <div class="card-description">
            <div class="card-title">
                <span>Árvore binária - Java</span>
            </div>
            <div class="card-subtitle">
                <span>As árvores binárias são estruturas de dados fundamentais em ciência da computação, utilizadas para organizar e manipular informações de forma eficiente...</span>
            </div>
        </div>
        <div class="card-tags my-3">
            <app-tag></app-tag>
            <app-tag></app-tag>
            <app-tag></app-tag>
        </div>
        <div class="card-info row">
            <div class="card-date col"><span>Fev 3, 2025</span></div>
            <div class="card-likes col">
                <i class="fa fa-lightbulb" aria-hidden="true"></i> 
                <span class="ml-2">355</span>
            </div>
            <div class="card-comment col">
                <i class="fa fa-comment" aria-hidden="true"></i> 
                <span class="ml-2">15</span>
            </div>
            <div class="card-more-options col ">
                <i class="fa fa-ellipsis-h float-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="card-icon col-md-auto">
        <i class="fa fa-laptop" aria-hidden="true"></i>
    </div>
</div>