.tag{
    font-size: .75rem;
    border: .5px solid #3ade7b;
    background-color: #eaf8f0;
    color: #3ade7b;
    text-align: center;
    padding: .1rem .5rem;
    border-radius: 30px;
}

.tag:hover{
    background-color: #5ac585;
    color: #eaf8f0
}