<div class="container">
    <div class="card-profile">
        <div class="banner"></div>
        <div class="row"> <!-- Header -->
            <div class="col-md-3 col-sm-12">
                <div class="img-group centralizar">
                    <div class="image-container">
                        <img src="../../assets/img/profile-pics/default.jpg" alt="Imagem" class="image">
                        <div class="overlay">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>