.bg {
    position: absolute;
    /* Altere de absolute para relative */
    width: 100%;
    height: 60vh;
    background: linear-gradient(45deg, #3800d1, #8c43d1);
}

.separator {
    position: absolute;
    bottom: 0;
    /* Posiciona o elemento no final da div pai */
    left: 0;
    /* Alinha o elemento à esquerda */
    width: 100%;
}

.fill-white {
    fill: #eee;
}

.separator svg {
    color: #66666666;
}

.container {
    position: relative;
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-profile {
    background-color: #fff;
    box-shadow: 0 0 15px #66666666;
    width: 80%;
    height: 100vh;
    border-radius: 10px;
}

.card-header {
    padding: 5rem;
    display: flex;
    align-items: center;
}

.card-header .card-infos{
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.card-header .card-infos .info-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilizando a imagem */
.image-container {
    position: relative;
    display: inline-block;
}

.image {
    width: 150px;
    /* Defina o tamanho desejado para a imagem */
    height: 150px;
    border-radius: 50%;
    /* Torna a imagem circular */
    margin-right: 5rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Define a cor de fundo e a transparência */
    opacity: 0;
    /* Inicialmente, o overlay é transparente */
    transition: opacity 0.3s ease;
    /* Adiciona uma transição suave */
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:hover {
    cursor: pointer;
    opacity: 1;
    /* Ao passar o mouse por cima, o overlay se torna opaco */
}

.overlay i {
    color: white;
    /* Define a cor do ícone */
    font-size: 24px;
    /* Define o tamanho do ícone */
}