<div class="bg">
    <!-- SVG separator -->
    <div class="separator">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>


<div class="container">
    <div class="card-profile">
        <div class="row">
            <div class="col-md-3 centralizar alinhar">
                <span class="info-name">Lucas M. Teixeira</span>
            </div>
            <div class="col-md-3 centralizar alinhar">
                <span class="info-college">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> 
                    São Paulo Tech School</span>
            </div>
            <div class="description centralizar">
            </div>
        </div>
        <div class="row"> <!-- Header -->
            <div class="col-md-3 col-sm-12">
                <div class="img-group centralizar">
                    <div class="image-container">
                        <img src="../../assets/img/profile-pics/default.jpg" alt="Imagem" class="image">
                        <div class="overlay">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="info-group col-md-3 col-xs-6 col-sm-6">
                <span class="info-value">10</span>
                <span>Seguidores</span>
            </div>
            <div class="info-group col-md-3 col-xs-6 col-sm-6">
                <span class="info-value">12</span>
                <span>Seguindo</span>
            </div>
            <div class="info-group col-md-3 col-xs-6 col-sm-6">
                <span class="info-value">9</span>
                <span>Anotações</span>
            </div>
        </div>
        <div class="row"> <!-- Resumo -->
            <div class="resume">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus explicabo ducimus nisi repellendus alias quos, odit deleniti consectetur aliquam neque dolorum quasi quia dolorem architecto doloremque ut eligendi magnam doloribus. lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus explicabo ducimus nisi repellendus alias quos, odit deleniti consectetur aliquam neque dolorum quasi quia dolorem architecto doloremque ut eligendi magnam doloribus.
                </p>   
            </div>
        </div>

        

    </div>
</div>