<div class="bg">
    <!-- SVG separator -->
    <div class="separator">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>


<div class="container">
    <div class="card-profile">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="img-group centralizar">
                    <div class="image-container">
                        <img src="../../assets/img/profile-pics/default.jpg" alt="Imagem" class="image">
                        <div class="overlay">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="description centralizar">
                    <span class="info-name">Lucas M. Teixeira</span>
                    <span class="info-college">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i> 
                        São Paulo Tech School</span>
                </div>
            </div>
            <div class="info-group col-md-3 col-sm-4">
                <span class="info-value">10</span>
                <span>Seguidores</span>
            </div>
            <div class="info-group col-md-3 col-sm-4">
                <span class="info-value">12</span>
                <span>Seguindo</span>
            </div>
            <div class="info-group col-md-3 col-sm-4">
                <span class="info-value">9</span>
                <span>Anotações</span>
            </div>

        </div>




    </div>
</div>