<div class="container">
    <div class="row">
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
        <app-card-anotacao></app-card-anotacao>
    </div>
    <app-writing-btn></app-writing-btn>
</div>